{% load static %}<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'comun/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'comun/css/custom.css' %}" rel="stylesheet">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
  </head>
  <body>

 <nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex flex-wrap">
      <ul class="nav nav-auto">
        <li class="nav-item"><a href="/" class="nav-link px-2 active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="/listado/" class="nav-link px-2">Metahumanos</a></li>
        <li class="nav-item"><a href="/equipos/" class="nav-link px-2">Equipos</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>

  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <img width="42" height="42" src="{% static 'comun/img/shield.svg' %}">&nbsp;
        <span class="fs-4">S.H.I.E.L.D.</span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </header>

{% block hero %}
<div class="container hero pt-2">
  <div class="pt-2 px-4 mx-4 my-4 py-4 text-center legend">
    <h1 class="display-4 fw-bold">S.H.I.E.L.D.</h1>
      <p class="display-6 mb-3">
      <strong>Strategic Homeland Intervention, Enforcement and Logistics Division</strong>
  </div>
      <div class="gap-4 d-sm-flex justify-content-sm-center pb-3 mb-5 border-bottom">
        <button type="button" class="btn btn-primary btn-lg px-4">Visitas al Helitransporte</button>
        <button type="button" class="btn btn-secondary btn-lg px-4">Reportar un incidente</button>
      </div>
</div>
{% endblock hero %}


  <div class="container">
    {% block content %}

    {% endblock content %}
  </div>

    <script src="{% static 'comun/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>
